.PortfolioHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.PortfolioHeader#filter-bar {
  color: red;
}

.PortfolioHeader#refresh-button {
  flex: 1;
}